body{
    background:#F2EBDC;
    overflow-x: hidden;
}
.navbar{
    background: #485B73;
}
.page-title{
    font-weight:bold;
    text-decoration: underline;
}
.google-play-badge{
  max-width: 300px;
}

.nav-link{
  color:#F2EBDC !important;
}

.nav-item {
    font-size: 25px;
    margin-left: 10px;
}
.navbar  a {
    color:#F2EBDC;
}
.navbar-collapse  a{
  color:#F2EBDC;
}
.main-content{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.main-content >h1{
    color:#152840;
}
.main-content > h2{
    color:#152840;
    margin-top: 30px;
}
.main-content >img{
    margin-top: 30px;
}
.btn{
        background:#033E8C;
        color:#F2EBDC;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-git-square {
    background: black;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
}
.card{
    margin-right: 20px;
    margin-left: 20px;
}
.img-main{
    width: 30%;
    margin-top: 10px;
}
p{
    font-size: 20px;
}

.feature-list li{
    font-size: 25px;
    color: #033E8C;
}
.card h5{
    margin-top: 10px;
}
.footer{
    margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    padding-bottom: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.9);
  
  }
  
  
  
  /* Modal Content */
  .modal-content {
  
    position: relative;
    margin: auto;
    padding: 5px;
    background: #34363B !important;
  
  }
  
  /* The Close Button */
  .close-model {
    color: white;
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close-model:hover,
  .close-model:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

/* Next & previous buttons */
.prev-button,
.next-button {

  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  /* The color is inherited from somewhere else 
    */
  color: #FFB800 !important;
  font-weight: bold;
  border-radius: 0 3px 3px 0;

}
/* Position the "next button" to the right */
.next-button {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.mySlides {
    display: none;
    margin: auto;
  }  
  .mySlides img {
    max-width: 600px;
    max-height: 700px;
  }
  
  
  
/* Targer large devices using this query */
@media(min-width:992px) {
    .modal-content {
      max-width: 60%;
    }
}    